.main {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.displayBox{
	position: absolute;
	top: 160px;
	left: 2vw;
	height: 60vh;
	width: 95%;
	background-color: var(--platinum);
}