* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v54_95 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v54_96 {
    width: 100%;
    height: 117px;
    background: rgba(53,56,57,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v54_97 {
    width: 688px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 22px;
    left: 156px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v54_111 {
    width: 213px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 883px;
    left: 248px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v54_118 {
    width: 46px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 73px;
    overflow: hidden;
  }
  .addButton {
    width: 144px;
    height: 62px;
    background: rgba(30,144,255,1);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 1126px;
    overflow: hidden;
  }
  #addButton {
    font-size: 32px;
    color: #fff;
    font-family: Inter;
  }
  .yearInput {
    font-size: 32px;
    width: 332px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 119px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  #yearInput {
    font-size: 32px;
    width: 332px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 119px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .makeInput {
    width: 346px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 448px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  #makeInput {
    font-size: 32px;
    width: 346px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 448px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .modelInput {
    width: 334px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 794px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  #modelInput {
    font-size: 32px;
    width: 334px;
    height: 60px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 794px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .invoiceButton {
    width: 462px;
    height: 75px;
    background: rgba(30,144,255,1);
    opacity: 1;
    position: absolute;
    top: 874px;
    left: 506px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden;
  }
  #invoiceButton{
      color: #fff;
      font-family: Inter;
      font-weight: Regular;
      font-size: 36px;
      opacity: 1;
  }

  .carList {
    width: 1153px;
    height: 490px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 330px;
    left: 119px;
    border: 2px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  