:root {
  --dark-steel: rgb(53, 56, 57);
  --platinum: rgb(229, 228, 226);
  --agua: rgb(30, 144, 255);
  --serif-font: Roboto Slab, Times;
  --sans-serif-font: Inter, Sans-Serif;
}

body {
  font-size: 100%;
}

header {
  width: 100%;
  height: 7em;
  background: var(--dark-steel);
}

h1 {
  color: white;
  position: relative;
  top: 0.25em;
  left: 1em;
  font-family: var(--serif-font);
  font-size: 4em;
}

.main_container {
  padding: 5% 10%;
  width: 100%;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_container {
  display: flex;
  font-size: 1.5em;
  height: 2em;
  font-family: var(--sans-serif-font);
}

.inputDescription {
  width: 60%;
}

.dropDown {
  width: 30%;
}

#searchInput {
  width: 100%;
}

.formButton {
  width: 10%;
  background: var(--agua);
}

.table-section {
  width: 100%;
  height: 32em;
  border: 1px solid var(--dark-steel);
}