.main {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

#add_Item_Form{
	position: absolute;
	width: 95vw;
	top: 100px;
	left: 2vw;
}

#search_Item_Form{
	position: absolute;
	width: 95vw;
	top: 150px;
	left: 2vw;
}

#searchInput{
	width: 100%;
}

#name{
	width: 100%
}

#describeItem{
	width: 100%;
	height: 100%;
}

#searchItem{
	width: 100%;
	height: 100%;
}

#dropdownMenuButton1{
	position: relative;
	width: 100%;
	height: 100%;
}

#addButton{
	position: relative;
	width: 100%;
	height: 100%;
}

#searchButton{
	position: relative;
	width: 100%;
	height: 100%;
}

.displayBox{
	position: absolute;
	top: 230px;
	left: 2vw;
	height: 60vh;
	width: 95%;
	background-color: var(--platinum);
}