:root {
  --dark-steel: rgb(53, 56, 57);
  --platinum: rgb(229, 228, 226);
  --agua: rgb(30, 144, 255);
  --serif-font: Roboto Slab, Times;
  --sans-serif-font: Inter, Sans-Serif;
}

body {
  font-size: 100%
}

header {
  width: 100%;
  height: 7em;
  background-color: var(--dark-steel);
}

h1 {
  color: white;
  position: relative;
  top: 0.25em;
  left: 1em;
  font-family: var(--serif-font);
  font-size: 4em;
}

h3 {
  font-family: var(--serif-font);
}

section {
  width: 100%;
}

.main_container {
  padding: 5% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* auto input */

#customer_grid {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--dark-steel);
  background-color: var(--platinum);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3em 3em;
}

#customer_grid>div>input {
  width: 100%;
}

/* bottom button section */

#bottom_buttons_section {
  display: flex;
  justify-content: space-evenly;
}

#bottom_buttons_section>button {
  width: 20%;
  height: 1.5em;
  border-radius: 45px;
  color: white;
  font-family: var(--sans-serif-font);
  font-size: 3em;
  text-align: center;
}

#finalButton {
  background: rgba(30, 144, 255, 1);
}

#omitButton {
  background: rgba(255, 40, 0, 1);
}

/* display box for table section */

.displayBox {
  width: 100%;
  height: 293px;
  background: white;
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}