*{
     box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v31_3 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .header {
    width: 100%;
    height: 117px;
    background: rgba(53,56,57,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v31_6 {
    width: 880px;
    height: 603px;
    background: rgba(229,228,226,1);
    opacity: 1;
    position: absolute;
    top: 221px;
    left: 280px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  input[name=user]{
    font-size: 40px;
    width: 793px;
    height: 87px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 320px;
    left: 324px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }

  input[name=password] {
    font-size: 40px;
    width: 793px;
    height: 82px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 481px;
    left: 324px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }

  input[type=submit] {
    width: 330px;
    height: 76px;
    background: rgba(30,144,255,1);
    opacity: 1;
    position: absolute;
    top: 625px;
    left: 555px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden;
  }
  .v31_14 {
    width: 123px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 637px;
    left: 655px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
