:root {
  --dark-steel: rgb(53, 56, 57);
  --platinum: rgb(229, 228, 226);
  --aqua: rgb(30, 144, 255);
  --title-font: Roboto Slab, Times;
  --button-font: Inter, Sans-Serif;
}

body {
  font-size: 100%
}

.buttonText_Aqua{
	color: white;
	font-family: var(--button-font);
	font-size: 5vh;
}

/* Page Header */
header {			/* Size and Color of Header*/
	width: 100%;
	height: min(15vh, 95px);
	background: var(--dark-steel);
}

h1 {				/* Page-Name Text*/
  color: white;
  position: relative;
  top: 1vh;
  left: 5vw;
  font-family: var(--title-font);
  font-size: 9vh;
}

.header_button {
	position: absolute;
	top: 2vh;
	left: 80vw;
	width: 15vw;
	height: min(10vh, 75px);
	background: var(--aqua);
	border-radius: 20px;
	border: 1px solid black;
	z-index: 10;
}