:root {
  --dark-steel: rgb(53, 56, 57);
  --platinum: rgb(229, 228, 226);
  --aqua: rgb(30, 144, 255);
  --title-font: Roboto Slab, Times;
  --button-font: Inter, Sans-Serif;
}

body {
  font-size: 100%
}

.buttonText_Plat{
	position: absolute;
	color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	font-family: var(--button-font);
	font-weight: Regular;
	font-size: 5vh;
	opacity: 1;
}

.buttonText_Aqua{
	position: absolute;
	color: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	font-family: var(--button-font);
	font-weight: Regular;
	font-size: 5vh;
	opacity: 1;
}

/* Page Header */
header {			/* Size and Color of Header*/
	width: 100%;
	height: 15vh;
	background: var(--dark-steel);
}

h1 {				/* Page-Name Text*/
  color: white;
  position: relative;
  top: 1vh;
  left: 5vw;
  font-family: var(--title-font);
  font-size: 9vh;
}

.home_Button{
	position: absolute;
	top: 2vh;
	left: 65vw;
	width: 15vw;
	height: 10vh;
	background: var(--aqua);
	opacity: 1;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid rgba(0,0,0,1);
	z-index: 10;
}

.logout_Button{
	position: absolute;
	top: 2vh;
	left: 80vw;
	width: 15vw;
	height: 10vh;
	background: var(--aqua);
	opacity: 1;
	overflow: hidden;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid rgba(0,0,0,1);
	z-index: 10;
}