:root {
  --dark-steel: rgb(53, 56, 57);
  --platinum: rgb(229, 228, 226);
  --agua: rgb(30, 144, 255);
  --title-font: Roboto Slab, Times;
  --button-font: Inter, Sans-Serif;
}

body {
  font-size: 100%
}

header {
  width: 100%;
  height: 7em;
  background: var(--dark-steel);
}

h1 {
  color: white;
  position: relative;
  top: 0.25em;
  left: 1em;
  font-family: var(--title-font);
  font-size: 4em;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  flex-wrap: wrap;
}

section {
  background: pink;
  margin: 1em;
  width: 36em;
  height: 42em;
}

button {
  border: none;
}

.bottomButton {
  width: 9em;
  height: 2em;
  color: white;
  background: var(--agua);
  border-radius: 3em;
  font-family: var(--button-font);
  font-size: 2em;
  text-align: center;
  float: center;
  position: relative;
  bottom: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.input-error {
  box-shadow: 0 0 5px red;
}

/* add customer styling */
.form_box {
  background: var(--platinum);
  border-radius: 1.25em;
}


/* search customer styling */

#search-bar {
  display: flex;
}

#searchButton {
  color: white;
  background: var(--agua);
  border-top-left-radius: 1.25em;
  font-family: var(--button-font);
  font-size: 2em;
  text-align: center;
  width: 145px;
  height: 84px;
}

.searchResultBody {
  background: var(--platinum);
  border-radius: 0px 0px 20px 20px;
}