.main {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.gridContainer{
	display: grid;
	width: 98vw;
	height: 83vh;
	margin: auto;
	grid-template-columns: 1fr 4fr 1fr 1fr;
	grid-template-rows: 145px 1fr 1fr;
	/*grid-template-rows: 1fr 1fr 1fr;*/
}

.main_ColA_RowA{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	/* background-color: var(--aqua); */
}

.submit_Button{
	position: relative;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	background: var(--aqua);
	opacity: 1;
	overflow: hidden;
	border-top-left-radius: 20px;
	border: 1px solid rgba(0,0,0,1);	
}


.main_ColB_RowA{
	display: grid;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--platinum);
}

.main_ColC_RowA{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	/* background-color: var(--platinum); */
}

.search_Button{
	position: relative;
	z-index: 2;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	background: var(--aqua);
	opacity: 1;
	/* overflow: hidden; */
	border-top-right-radius: 20px;
	border: 1px solid rgba(0,0,0,1);	
}

.main_ColD_RowA{
	display: grid;
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	/* background-color: var(--platinum); */
}

#search-fName{
	width: 100%;
}

#search-lName{
	width: 100%;
}

#search-phone{
	width: 100%;
}

#search-email{
	width: 100%;
}

#search-address{
	width: 100%;
}

.main_ColE_RowA{
	grid-column: 5 / 6;
	grid-row: 1 / 2;
	background-color: var(--aqua);
}



.tableDisplay{
	grid-column: 1 / 6;
	grid-row: 2 / 4;
	background-color: rgba(250,250,250,1);
}