#schedulePopup{
    z-index: 10;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
#schedulePopupBackground{
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
#schedulePopupMessage{
    z-index: 12;
    padding: 10px;
    width: max(30%, 300px);
    height: max(60%, 400px);
    background-color: white;
    display: flex;
    justify-content: left;
    -webkit-justify-content: left;
    align-items: top;
    -webkit-align-items: top;
    flex-direction: column;
}