/*
.dropdown_Appointment{
	position: absolute;
	top: 20vh;
	left: 5vw;
}

.dropdown_Inventory{
	position: absolute;
	top: 30vh;
	left: 5vw;
}
*/

.inputTable{
	position: absolute;
	width: 95vw;
	top: 120px;
	left: 2vw;
}

